.loginCtn {
  display: flex;
  flex-flow: column;
  min-width: 300px;
  width: 50%;
  max-width: 800px;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 5px #bbb;

  label {
    color: #bebebe
  }
}

label {
  margin: 12px 0;
  color: #45d643
}

.mat-form-field {
	display: block;
}

form {
	text-align: center;
}

button {
	background-color: #16b4f7;
	width: 200px;
	color: white;
}

h2 {
	text-align: center;
}
