<!-- <h1>{{title}}</h1>
<h1>{{rompeTexto | slice:0:3}}</h1>
<h1>{{hoy | date:'dd/MM/yyyy'}}</h1> -->
<!-- <h1>{{rompeTexto | verMas}}</h1> -->
<h1>{{miNumero | toFormatPhone }}</h1>
<div class="container">
    <div class="loginCtn">
      <h2>Inicia sesión</h2>
      <label>Correo: </label>
      <input placeholder="email@mail.com" type="email" required/>
      <label>Contraseña </label>
      <input placeholder="******" type="password" required/>
    </div>
    <label>¿Olvidaste tu contraseña?</label>
  </div>
  
